<section class="new">
  <div class="side-header">
    <div class="side-header__top">
      <%= link_to root_path, class: "header__top-text"  do %>
        <span class="header__animals">Animals</span>
        <span class="header__domi">Domi</span>
      <% end %>
      <div class="side-header__i">
        <i class="fab fa-themeisle icon"></i>
        <%= link_to "トップへ戻る", root_path , class: "side-header__btn"%>
      </div>
        <%= link_to "投稿する", new_problem_path, class: "side-header__btn"%>
        <%= link_to "投稿一覧", problems_path , class: "side-header__btn"%>
        <%= link_to "MYページ", user_path(current_user) , class: "side-header__btn "%>
        <%= link_to "ログアウト", destroy_user_session_path , data: { confirm: "本当にログアウトします？"},method: :delete, class: "side-header__btn"%>
    </div>
  </div>

  <% if @problem.errors.any?%>
    <h2><%= pluralize(@problem.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
    <ul>
      <% @problem.errors.full_messages.each do |message|%>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
 <div class="message">
    <div class="message__container">
      <h1 class="message__title">投稿編集</h1>
      <%= form_with model: @problem do |f|%>
        <div class="message__box">
          <div class="field">
            <%= f.label :title, 'タイトル', class: "field__name"%>
            <%= f.text_field :title, class: "field__post"%>
          </div>
          <div class="field">
            <%= f.label :body , '詳細', class: "field__name"%>
            <%= f.text_area :body, class: "field__body"%>
          </div>
          <div class="field">
            <%= f.label :image, '写真', class: "field__name"%>
            <%= f.attachment_field :image, class: "field__image-box"%>
          </div>
          <%= f.submit '編集完了', class: "field__btn solid"%>
        </div>
      <% end %>
    </div>
  </div>
</section>
