<header class="header">
  <div class="header__top">
    <div class="search">
      <%= form_with(url: search_problems_path, local: true, method: :get, class: "search__form") do |f| %>
        <%= f.text_field :keyword, placeholder: "投稿を検索する", class: "search__input" %>
        <%= f.submit "検索", class: "search__btn" %>
      <% end %>
    </div>
    <%= link_to problems_path, class: "header__top-text"  do %>
      <span class="header__animals">Animals</span>
      <span class="header__domi">Domi</span>
    <% end %>
    <%= link_to "投稿する", new_problem_path, class: "header__btn"%>
    <%= link_to 'ユーザー一覧', users_path, class: "header__btn"%>
    <%= link_to "ログアウト", destroy_user_session_path , data: { confirm: "本当にログアウトします？"},method: :delete, class: "header__btn"%>
  </div>
</header>

<div class="post-index">
  <div class="side-mypage">
    <div class="side-mypage__box">
      <h3 class="side-mypage__name"><%= current_user.username%></h3>
      <%= attachment_image_tag current_user, :profile_image, fallback: "no-image.png",class: "side-mypage__img"%>
      <p><%= link_to "MYページ", user_path(current_user) , class: "side-mypage__my"%></p>
     </div>
  </div>
  <h1 class="post-index__top-title">ランキング</h1>
  <% @posts.each.with_index(1) do |post, i| %>
    <div class="post-index__card-box">
      <div class="rank"><%= i%></div>
      <div class="post-index__user-inner">
        <%= link_to user_path(post.user.id) do %>
          <%= attachment_image_tag post.user, :profile_image, fallback: "no-image.png", size: "72x72", style: "border-radius: 50%;"%>
          <p><%= link_to post.user.username, user_path(post.user.id),  class: "post-index__username"%></p>
        <% end %>
      </div>
      <div class="post-index__info">
        <div class="post-index__info-post">
          <%= link_to problem_path(post), class: "post-index__index-image" do %>
            <%= attachment_image_tag post, :image, size: "75x75", style: "border-radius: 10%;" %>
          <% end %>
        </div>
        <div class="post-index__right">
          <%= link_to problem_path(post), class: "post-index__user-title" do %>
            <h2 class="post-index__title"><%= post.title%></h2>
            <%= truncate(post.body, length: 100) do %>
              <p><%= link_to "続きを読む・・",problem_path(post), class: "post-index__truncate"%><p>
            <% end %>
          <% end %>
          <div class="favorite-box">
            <i class="fas fa-heart favorite__heart"></i>
            <%= post.liked_users.count %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="post-index">
  <div class="post-index__sharp">
    <h1 class="post-index__top-title">掲載記事一覧</h1>
  </div>
  <div class="post-index__container">
    <% @problems.each do |problem|%>
      <div class="post-index__card-box">
        <div class="post-index__user-inner">
          <%= link_to user_path(problem.user.id) do %>
            <%= attachment_image_tag problem.user, :profile_image, fallback: "no-image.png", size: "72x72", style: "border-radius: 50%;"%>
            <p><%= link_to problem.user.username, user_path(problem.user.id),  class: "post-index__username"%></p>
          <% end %>
        </div>
        <div class="post-index__info">
          <div class="post-index__info-post">
            <%= link_to problem_path(problem), class: "post-index__index-image" do %>
              <%= attachment_image_tag problem, :image, size: "75x75", style: "border-radius: 10%;" %>
            <% end %>
          </div>
          <div class="post-index__right">
            <%= link_to problem_path(problem), class: "post-index__user-title" do %>
              <h2 class="post-index__title"><%= problem.title%></h2>
              <%= truncate(problem.body, length: 100) do %>
                <p><%= link_to "続きを読む・・",problem_path(problem), class: "post-index__truncate"%><p>
              <% end %>
            <% end %>
            <div class="favorite-box">
              <i class="fas fa-heart favorite__heart"></i>
              <%= problem.liked_users.count %>
            </div>
              <p class="date">作成日: <%= problem.updated_at.strftime("%Y-%m-%d %H:%M")%></p>
          </div>
        </div>
      </div>
    <%end %>
    <div class="paginate"><%= paginate @problems %></div>
  </div>
</div>


