<section class="new">
  <div class="side-header">
    <div class="side-header__top">
      <%= link_to root_path, class: "header__top-text"  do %>
        <span class="header__animals">Animals</span>
        <span class="header__domi">Domi</span>
      <% end %>
      <div class="side-header__i">
        <i class="fab fa-themeisle icon"></i>
        <%= link_to "トップへ戻る", problems_path , class: "side-header__btn"%>
      </div>
        <%= link_to "投稿する", new_problem_path, class: "side-header__btn"%>
        <%= link_to "MYページ", user_path(current_user) , class: "side-header__btn "%>
        <%= link_to "ログアウト", destroy_user_session_path , data: { confirm: "本当にログアウトします？"},method: :delete, class: "side-header__btn"%>
    </div>
  </div>
  <div class="problem-show">
    <h1 class="message__title">記事詳細</h1>
    <div class="problem-show__container">
      <div class="problem-show__card">
        <%= attachment_image_tag @problem, :image ,class: "problem-show__image"%>
        <div class="problem-show__show-box">
          <div class="problem-show__info">
            <span class="problem-show__title">タイトル</span>
            <span class="problem-show__title-name"><%= @problem.title%></span>
          </div>
          <div class="problem-show__info body">
            <span class="problem-show__title"></span>
            <span class="problem-show__title-body"><%= simple_format @problem.body%></span>
          </div>
        </div>
      </div>

      <%= render partial: 'likes/like' %>

      <div class="problem-show__edit-btn">
        <% if @problem.user.id == current_user.id%>
          <%= link_to '編集する', edit_problem_path(@problem),class: "header__btn"%>
          <%= link_to '削除する',problem_path(@problem), method: :delete, data: { confirm: "本当に削除しますか？"}, class: "delete-btn"%>
        <% end %>
      </div>
      <div class="problem-user">
        <span class="problem-user__post">投稿者</span>
        <%= link_to user_path(@problem.user),class: "problem-user__deco" do%>
          <span class="problem-user__usericon">
            <span class="problem-user__username"><%= @problem.user.username%>さんのページへ</span>
            <i class="far fa-arrow-alt-circle-right icon"></i>
          </span>
        <% end %>
      </div>
    </div>
  </div>
</section>
