
<% if @user.errors.any?%>
  <h2><%= pluralize(@user.errors.count, "error") %> prohibited this object from being saved: not successfully</h2>
  <ul>
    <% @user.errors.full_messages.each do |message|%>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<section class="new">
  <div class="side-header">
    <div class="side-header__top">
      <%= link_to problems_path, class: "header__top-text"  do %>
        <span class="header__animals">Animals</span>
        <span class="header__domi">Domi</span>
      <% end %>
      <div class="side-header__i">
        <i class="fab fa-themeisle icon"></i>
        <%= link_to "トップへ戻る", problems_path , class: "side-header__btn"%>
      </div>
      <div class="side-header__i">
        <i class="fas fa-cannabis icon"></i>
        <%= link_to "投稿する", new_problem_path, class: "side-header__btn"%>
      </div>
      <div class="side-header__i">
        <i class="fas fa-users icon"></i>
        <%= link_to "投稿一覧", problems_path , class: "side-header__btn"%>
      </div>
      <div class="side-header__i">
        <i class="fas fa-dog icon"></i>
        <%= link_to "MYページ", user_path(current_user) , class: "side-header__btn "%>
      </div>
      <div class="side-header__i">
        <i class="fas fa-sign-out-alt icon"></i>
        <%= link_to "ログアウト", destroy_user_session_path , data: { confirm: "本当にログアウトします？"},method: :delete, class: "side-header__btn"%>
      </div>
    </div>
  </div>


  <div class="message">
    <h1 class="message__title">ユーザー編集</h1>
      <div class="message__container">
        <%= form_with model: @user do |f| %>
        <div class="message__box">
          <div class="field">
            <%# <i class="fas fa fa-user"></i> %>
            <%= f.label :username, 'お名前', class: "field__name" %><br />
            <%= f.text_field :username, class: "field__post"%>
          </div>

          <div class="field">
            <%# <i class="fas fa fa-envelope"></i> %>
            <%= f.label :email,'メールアドレス' , class: "field__name"%><br />
            <%= f.email_field :email, class: "field__post"%>
          </div>

          <div class="field">
            <%# <i class="fas fa fa-id-card"></i> %>
            <%= f.label :profile , "プロフィール", class: "field__name"%><br />
            <%= f.text_area :profile, class: "field__body" %>
          </div>

          <div class="field">
            <div id="image-preview">
              <%= f.label :profile_image , "プロフィール画像", class: "field__name"%><br />
              <%= attachment_image_tag @user, :profile_image, class: "img-square", fallback: "no_image.jpg", size:"150x150" ,style: "border-radius: 50%"%>
            </div>
              <%= f.attachment_field :profile_image , id: "preview", class: "field__image-box"%>
          </div>

          <div class="actions">
            <%= f.submit "更新", class: "side-header__btn" %>
          </div>
        </div>
        <% end %>
     </div>
  </div>
</section>
