<section class="new">
  <div class="side-header">
    <div class="side-header__top">
      <%= link_to root_path, class: "header__top-text"  do %>
        <span class="header__animals">Animals</span>
        <span class="header__domi">Domi</span>
      <% end %>
      <div class="side-header__i">
        <i class="fab fa-themeisle icon"></i>
        <%= link_to "トップへ戻る", problems_path , class: "side-header__btn"%>
      </div>
        <%= link_to "投稿する", new_problem_path, class: "side-header__btn"%>
        <%= link_to "MYページ", user_path(current_user) , class: "side-header__btn "%>
        <%= link_to "ログアウト", destroy_user_session_path , data: { confirm: "本当にログアウトします？"},method: :delete, class: "side-header__btn"%>
    </div>
  </div>

  <div class="users-list">
    <h1 class="message__title">メンバー</h1>
    <div class="users-list__container">
      <% @users.each do |user| %>
        <div class="users-list__card">
          <div class="users-list__user-inner">
            <%= link_to user_path(user),class: "users-list__profile-name" do %>
              <%= attachment_image_tag user, :profile_image, fallback: "no-image.png", class: 'users-list__image'%>
              <p class="users-list__name"><%= user.username %></p>
            <%end%>
          </div>
          <p><%= user.profile%></p>
        </div>
      <% end %>
    </div>
    <%= paginate @users %>
  </div>
</section>

