<% if user_signed_in? %>
  <header class="header">
    <div class="header__top">
      <%= link_to root_path, class: "header__top-text"  do %>
        <span class="header__animals">Animals</span>
        <span class="header__domi">Domi</span>
      <% end %>
      <%= link_to "投稿する", new_problem_path, class: "header__btn"%>
      <%= link_to "投稿一覧", problems_path , class: "header__btn"%>
      <%= link_to "MYページ", user_path(current_user) , class: "header__btn "%>
      <%= link_to 'ユーザー一覧', users_path, class: "header__btn"%>
      <%= link_to "ログアウト", destroy_user_session_path , data: { confirm: "本当にログアウトします？"},method: :delete, class: "header__btn"%>
    </div>
  </header>
<% else %>
  <header class="header">
    <div class="header__top">
      <%= link_to root_path, class: "header__top-text"  do %>
        <span class="header__animals">Animals</span>
        <span class="header__domi">Domi</span>
      <% end %>
        <%= link_to "寄付・入会のお願い", new_user_registration_path , class: "header__btn"%>
        <%= link_to "ログイン", new_user_session_path, class: "header__btn" %>
        <%= render 'devise/sessions/testuser', class: "header__btn"%>
    </div>
  </header>

  <div class="wrapper">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="wrapper__title">
            <h1>動物達を助けよう・知ろう！！</h1>
            <p>
              まず、地球で何が起きているのか、そこで動物達がどう生きているのか？など<br>
              個人が気軽に投稿ができて<span class="wrapper__text-inner">"知ること"</span>ができるコミュニティです
            </p>
          </div>
          <%= image_tag 'top-bird.jpg' , class: "swiper-container__image" %>
        </div>
        <div class="swiper-slide">
          <div class="wrapper__title">test</div>
          <%= image_tag 'natural.jpeg', class: "swiper-container__image"%>
        </div>
        <div class="swiper-slide">
          <div class="wrapper__title">test</div>
          <%= image_tag 'flog2.jpeg', class: "swiper-container__image"%>
        </div>
      <div class="wrapper__footer">
        <%= image_tag 'arrow.svg', class: "wrapper__arrow"%>
        <span class="wrapper__scroll">scroll</span>
      </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>

  <main class="domination">
    <div class="domination__box">
      <div class="domination__info">
        <h1 class="domination__text">About</h1>
        <p class="domination__inner">
          NGO・NPO関係の営業職の際にあまりにもアフリカなどの現状や日本だったらちょっとしたことで助けられることを知らない方が多く見られました。
          今回、動物が好きで上記のことは、動物も同じだと思い、動物・環境などを専門にしたコミュニティを作りました。
          まずは、知ってもらいたいと思い作りました。
        </p>
      </div>
    </div>
  </main>

  <div class="tabs-menu">
    <h1 class="domination__text">これだけで助かります！</h1>
    <div class="tabs-menu__container">
      <ul class="menu">
        <li><a class="menu__item active">1000円</a></li>
        <li><a class="menu__item">3000円</a></li>
        <li><a class="menu__item">5000円</a></li>
      </ul>

      <ul class="contents">
        <li class="content show">
          <%= image_tag 'penpen.jpeg',size: "650x200"%>
          <h2 class="contents__title">1年間その支援を継続すると…</h2>
          <p class="contents__text">
            南米のチリで海の大切さを伝え、地域の人たちにもその保全に参加してもらう普及活動を1回実施できます。
          </p>
        </li>
        <li class="content">
          <%= image_tag 'tiger.jpeg',size: "650x200"%>
          <h2 class="contents__title">1年間その支援を継続すると…</h2>
          <p class="contents__text">
            ロシアでケガをしたトラを野生復帰させるためのリハビリ活動を6日間、支えることができます。
          </p>
        </li>
        <li class="content">
          <%= image_tag 'shizenn',size: "650x200"%>
          <h2 class="contents__title">1年間その支援を継続すると…</h2>
          <p class="contents__text">
            スマトラの熱帯林で、違法伐採や野生動物の密猟を防ぐパトロールを14日間、支えることができます。
          </p>
        </li>
      </ul>
    </div>
  </div>
<% end %>
<footer class="footer">@AnimalsDonation  2020</footer>

