
<header class="header">
  <div class="header__top">
    <%= link_to root_path, class: "header__top-text"  do %>
      <span class="header__animals">Animals</span>
      <span class="header__domi">Domi</span>
    <% end %>
      <%= link_to "入会のお願い", new_user_registration_path , class: "header__btn"%>
      <%= link_to "ログイン", new_user_session_path, class: "header__btn" %>
      <%= render 'devise/sessions/testuser', class: "header__btn"%>
  </div>
</header>


<div class="wrapper">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="wrapper__title">
          <h1>生き物を大切に・知ろう！！</h1>
          <p>
            まず、地球で何が起きているのか、そこで生物達がどう生きているのか？<br>
            個人が気軽に投稿ができて<span class="wrapper__text-inner">"知ること"</span>ができる図鑑
          </p>
        </div>
        <%= image_tag 'top-bird.jpg' , class: "swiper-container__image" %>
      </div>
      <div class="swiper-slide">
        <div class="wrapper__title font-color-black">
          <h1>環境を大切に</h1>
        </div>
        <%= image_tag 'natural.jpeg', class: "swiper-container__image"%>
      </div>
      <div class="swiper-slide">
        <div class="wrapper__title font-color-white">
          <h1>生物達に還元しましょう</h1>
        </div>
        <%= image_tag 'flog2.jpeg', class: "swiper-container__image"%>
      </div>
    <div class="wrapper__footer">
      <%= image_tag 'arrow.svg', class: "wrapper__arrow"%>
      <span class="wrapper__scroll">scroll</span>
    </div>
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>

<main class="domination">
  <div class="domination__box">
    <div class="domination__info">
      <h1 class="domination__text">About</h1>
      <p class="domination__inner">
        絶滅危惧種になっている動物やその原因になっている環境の変化のことを知っている方が少ないと感じています。
        営業時代の際にNGO・NPO団体と携わるお仕事をしていて、団体の職員の方もまだまだ現状を知っている方が少ないのが問題と 仰っていました。
        個人的には、動物が好きなので現状を知っている方が知らない方達に共有できるようなスペースがあればと思い、 作りました。
      </p>
    </div>
  </div>
</main>

<div class="tabs-menu">
  <h1 class="domination__text">Topick</h1>
  <p class="domination__inner">例えば1ヶ月1,000・・1日約30円ちょっと我慢すればこれだけ助かります</p>
  <div class="tabs-menu__container">
    <ul class="menu">
      <li><a class="menu__item active">1,000円</a></li>
      <li><a class="menu__item">3,000円</a></li>
      <li><a class="menu__item">5,000円</a></li>
    </ul>

    <ul class="contents">
      <li class="content show">
        <%= image_tag 'penpen.jpeg',class: "tabs-menu__img"%>
        <h2 class="contents__title">1年間その支援を継続すると…</h2>
        <p class="contents__text">
          南米のチリで海の大切さを伝え、地域の人たちにもその保全に参加してもらう普及活動を1回実施できます。
        </p>
      </li>
      <li class="content">
        <%= image_tag 'tiger.jpeg',class: "tabs-menu__img"%>
        <h2 class="contents__title">1年間その支援を継続すると…</h2>
        <p class="contents__text">
          ロシアでケガをしたトラを野生復帰させるためのリハビリ活動を6日間、支えることができます。
        </p>
      </li>
      <li class="content">
        <%= image_tag 'shizenn',class: "tabs-menu__img"%>
        <h2 class="contents__title">1年間その支援を継続すると…</h2>
        <p class="contents__text">
          スマトラの熱帯林で、違法伐採や野生動物の密猟を防ぐパトロールを14日間、支えることができます。
        </p>
      </li>
    </ul>
  </div>
</div>

