<!DOCTYPE html>
<html>
  <head>
    <title>AnimalsDona</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%# swiper %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice]%>
      <div class="notice-message">
        <p class="notice"><%= notice %></p>
      </div>
    <% end %>
    <% if flash[:notice]%>
      <div class="alert-message">
        <p class="alert"><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>


    <script>
    var mySwiper = new Swiper('.swiper-container', {
      loop: true,
      effect: 'fade',

      centeredSlides: true,

      pagination: {
        el: '.swiper-pagination',
      },
       navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
        scrollbar: {
          el: '.swiper-scrollbar',
        },
          })

    </script>
  </body>
</html>
